body {
    margin: 0;
    background-color: rgb(150, 86, 51);
  }
  
  h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  .head {
    width: 150px;
    margin: 0 auto;
    height: 100px;
    border-radius: 150px 150px;
    margin-bottom: 10px;
    background-color: #df9c6c;
  }
  
 .eyes {
    position: relative;
    top: 40px;
  }
  
 .left_eye,
  .right_eye {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color:rgb(155, 7, 7);
    display: inline-block;

  }
  
  .left_eye {
    margin-left: 30px;
  }
  
  .right_eye {
    margin-left: 30px;
    margin-top: ;
  }
  
  .upper_body {
    width: 250px;
    height: 140px;
    margin: 0 auto;
    display: flex;
  }
  
 .left_arm,
  .right_arm {
    
   
        width: 200px;
        height: 120px;
        background: black;
        border-radius:  50%;
        margin-top: 15px;
        border:solid white 2px;
  }
  
 .left_arm {
    margin-right:5px;
    
  }
  
  .right_arm {
    margin-left:5px;
  }

  .torso {
    width: 1000px;
    height: 200px;
    border-radius: 50px 50px 50px 50px;
    background-color: #f49507;
    transition: border-radius 2s;  
  }
  
.lower_body {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
 .left_leg,
  .right_leg {
    width: 30px;
    height: 120px;
    border-radius: 50%;
    display: inline-block;
    background-color: black;
    border:solid white 2px;
  }
  
 .left_leg {
    margin-left: 55px;
  }
  
  .right_leg {
    margin-left: 30px;
  }
  
 /* .robots:hover .head {
    animation: movehead 5s infinite;
  } */
  
.robots:hover .torso {
    border-radius: 40%;
    animation: movetorso 2s ;
  }
  
  .robots:hover .left_arm {
    animation: moveleftarm 2s ;
  }
  
  .robots:hover .right_arm {
    animation: moverightarm 2s ;
  }
  
  .robots:hover .left_leg {
    animation: moveleftleg 2s ;
  }
  
  .robots:hover .right_leg {
    animation: moverightleg 2s ;
  }
  
  /* @keyframes movehead {
    0% {
      width: 200px;
    }
  
    25% {
      width: 300px;
    }
  
    50% {
      width: 200px;
    }
  
    75% {
      width: 300px;
    }
  
    100% {
      width: 200px;
    }
  }
   */
  @keyframes moveleftarm {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moverightarm {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moveleftleg {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(20deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(20deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes moverightleg {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-20deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(-20deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
